h1 {
	text-align: center;
}
#onefield {
	display: table-caption;
	margin: 5px 0 5px 0;
}
#container {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="text"] {
	max-width: 400px;
	width: 400px;
}

#lastbox {
    display: inline-flex;
    align-items: end;
    
}

button#button {
	width: fit-content;
	margin: 0 0 5px 10px;
	padding: 3px 10px 3px 10px;
	height: fit-content;
	border-radius: 5px;
	cursor:pointer;
}