body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#matrimony-table-container {
    margin: 20px;
}

#matrimony-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#matrimony-table th, #matrimony-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#matrimony-table th {
    background-color: #f2f2f2;
}

#matrimony-table tbody tr:hover {
    background-color: #f5f5f5;
}
