<!DOCTYPE html>
<html>

<head>
	<style>
		#onefield {
			display: table-caption;
			margin: 5px 0 5px 0;
		}

		input[type="text"] {
			max-width: 400px;
			width: 400px;
		}

		#lastbox {
			display: inline-flex;
		}
	</style>
</head>
<h1>Register for Halal Matrimony service for Free</h1>
<div id="container">
	<form>
		<div id="onefield"><label for="name">Name :</label><br>
			<input type="text" id="name" name="name" placeholder="Enter your Name"><br>
		</div>
		<div id="onefield"><label for="dateOfbirth">DOB :</label>
			<input type="date" id="dateOfBirth" name="daeOfBirth">
			<label for="maritalStatus">Marital Status :</label>
			<select name="maritalStatus" id="maritalStatus">
				<option value="single">Single</option>
				<option value="married">Married</option>
				<option value="divorced">Divorced</option>
				<option value="widow">Widowed/Widower</option>
			</select><br>
		</div>
		<div id="onefield"><label for="language">Mother Tongue :</label><br>
			<input type="text" id="language" name="language" placeholder="Enter your Language"><br>
		</div>
		<div id="onefield"><label for="city">Native City :</label><br>
			<input type="text" id="city" name="city" placeholder="Enter your City"><br>
		</div>
		<div id="onefield"><label for="country">Country :</label><br>
			<input type="text" id="country" name="country" placeholder="Enter your Country"><br>
		</div>
		<div id="onefield"><label for="education">Education :</label><br>
			<input type="text" id="education" name="education" placeholder="Enter your Education"><br>
		</div>
		<div id="onefield"><label for="occupation">Occupation :</label><br>
			<input type="text" id="occupation" name="occupation" placeholder="Enter your Occupation"><br>
		</div>
		<div id="onefield"><label for="income">Income / Salary :</label><br>
			<input type="text" id="income" name="income" placeholder="Enter your Monthly Income in Rupees"><br>
		</div>

		<div id="onefield"><label for="aboutMe">About Me :</label><br>
			<textarea type="text" id="aboutMe" name="aboutMe" placeholder="Enter about yourself"></textarea><br>
		</div>
		<div id="onefield"><label for="email">Email :</label><br>
			<input style="margin-right: 10px;" type="email" id="email" name="email" placeholder="Enter your Email id"><br>
		</div>
		<div id="onefield"><label for="password">Password :</label><br>
			<input type="password" id="password" name="password" placeholder="Enter Password"><br>
		</div>
		<button type="submit" id="button" title="Submit">Submit</button>
	</form>
</div>

</html>